<div class="container-fluid home">

  <div class="home-dark-side">

    <!-- code example div -->
    <div class="projects-list">
      <form method="POST" action="" class="row">
        <div class="col-md-12">
          <input type="text" name="" id="" placeholder="Nom">
        </div>
        <div class="col-md-12">
          <input type="email" name="" id="" placeholder="Email">
        </div>
        <div class="col-md-12">
          <textarea name="" id="" placeholder="Message"></textarea>
        </div>
        <div class="col-md-12">
          <button type="submit">Envoyer</button>
        </div>
      </form>
    </div>

  </div>

  <div class="home-blue-side">
    
  </div>

</div>