.home {
    position: absolute;
    height: 100%;
    /* background-color: #ececec; */
    padding: 0;
}

.home-dark-side {
    position: relative;
    padding-right: 20px;
    width: 65%;
    height: 100%;
    /* background-image: url(../../../assets/images/hero.jpg); */
    background-color: rgba(36, 36, 36, 0.9); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
}

.projects-list {
    position: relative;
    padding: 0;
    width: 70%;
    height: 80%;
    top: 10%;
    left: 240px;
    overflow: hidden;
    animation: fadeup;
    animation-duration: 1s;
}

form div {
    padding: 20px;
}

.projects-list input, .projects-list textarea {
    width: 100%;
    background-color: #ececec;
    border-radius: 5px;
}

.projects-list input {
    height: 50px;
    border: none;
}

.projects-list textarea {
    height: 150px;
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
    border: none;
}

.projects-list button {
    width: 100%;
    height: 50px;
    background-color: #ececec;
    color: #222222;
    border: none;
    border-radius: 5px;
}

.projects-list button:hover {
    background-color: rgba(43, 203, 235, 0.7);
}

/* .single-project img {
    width: 100%;
    height: 100%;
} */

.home-blue-side {
    position: relative;
    width: 50%;
    height: 80%;
    background-color: rgba(43, 203, 235, 0.7);
    padding: 20px;
    top: 10%;
    box-shadow: 0 3px 10px #222222;
    animation: fadeup;
    animation-duration: 1s;
}

@keyframes fadeup {
    from { top: 20%; opacity: 0.1; }
    to { top: 10%; opacity: 1 }
}
@-moz-keyframes fadeup {
    from { top: 30%; opacity: 0.1; }
    to { top: 10%; opacity: 1 }
}
