<div class="container-fluid home">

  <div class="home-dark-side">

    <!-- socials links div -->
    <div class="dark-child social-link">
      <ul>
        <li>
          <a href="https://twitter.com" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://linkedin.com" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://facebook.com" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://github.com" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
        </li>
      </ul>
    </div>
    <!-- end socials links div -->

    <!-- code example div -->
    <div class="dark-child code-example">
      <!-- <img src="../../../assets/images/test.png" alt=""> -->
      <p style="color: #fff">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vitae maiores voluptatem at consectetur? Nulla quae aliquid nihil tempore veritatis corrupti inventore, perferendis rem eos alias ab accusantium quo saepe!
      </p>
    </div>

  </div>

  <div class="home-blue-side">
    <h1>ALSO</h1>
    <h5>Software Developer</h5>
  </div>

</div>