<div class="container-fluid home">
  <div class="home-dark-side">

    <!-- socials links div -->
    <div class="dark-child social-link">
      <ul>
        <li>
          <a href="https://twitter.com/sowalils1992" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/aliou-sow/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/aliou.sow.33483" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://github.com/Also8292" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
        </li>
      </ul>
    </div>
    <!-- end socials links div -->

    <!-- code example div -->
    <div class="dark-child code-example" style="overflow-y:scroll;">
      <p style="color: #fff;">
        <span class="opening">&#x2774;</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">nom : </span><span class="value">Aliou SOW</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">status : </span><span class="value">Développeur d'Application</span><br>
        
        <!-- competences -->
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">competences </span><span class="opening">&#x2774;</span><br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">langages </span><span class="opening">&#x2774;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">HTML,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">CSS,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">PHP,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">JavaScript,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">TypeScript,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">Java,</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="opening">&#x2775;</span><br>
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">frameworks </span><span class="opening">&#x2774;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">Symfony,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">Laravel,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">Angular,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">Ionic,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">Bootstrap</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="opening">&#x2775;</span><br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">base de données </span><span class="opening">&#x2774;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">MySQL,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">SQLite</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="opening">&#x2775;</span><br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">outils </span><span class="opening">&#x2774;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">Git,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">WordPress,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">PhotoShop,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">Illustrator</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value">Linux</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="opening">&#x2775;</span><br>

        &nbsp;&nbsp;&nbsp;&nbsp;<span class="opening">&#x2775;</span><br>
        <!-- fin competences -->

        <br>

        <!-- realisations -->
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">realisations </span><span class="opening">&#x2774;</span><br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">langages </span><span class="opening">&#x2774;</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value"><a href="#">Aquila Transfert de Fichier</a>,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value"><a href="#">Mème Generator</a>,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value"><a href="#">CinéZone</a>,</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="value"><a href="#">Senegal-Patrimoine</a></span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="opening">&#x2775;</span><br>


        &nbsp;&nbsp;&nbsp;&nbsp;<span class="opening">&#x2775;</span><br>
        <!-- fin realisations -->

        <span class="opening">&#x2775;</span><br>
      </p>
    </div>

  </div>

  <div class="home-blue-side">
    <!-- <div id="canvas" class="gradient"></div> -->
    <h1 class="name">Aliou SOW</h1>
    <h5 class="status">Développeur d'Applications</h5>
  </div>
</div>
