.home {
    position: absolute;
    height: 100%;
    background-color: #ececec;
    padding: 0;
}

.home-dark-side {
    position: relative;
    padding-right: 50px;
    width: 65%;
    height: 100%;
    background-image: url(../../../assets/images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
}

.social-link {
    position: relative;
    height: 50px;
    float: right;
    animation: fadeleft;
    animation-duration: 1s;
}

@keyframes fadeleft {
    from { right: 50px; }
    to { right: 0; }
}

@-moz-keyframes fadeleft {
    from { right: 50px; }
    to { right: 0; }
}

.social-link ul li {
    display: inline-block;
    padding: 15px;
}

.social-link ul li a i {
    font-size: 18px;
    color: #ececec;
}

.social-link ul li a i:hover {
    font-size: 18px;
    color: #2bcbeb;
}

.code-example {
    position: relative;
    width: 70%;
    height: 80%;
    top: 10%;
    left: 250px;
    overflow: hidden;
    animation: fadeup;
    animation-duration: 1s;
}

.home-blue-side {
    position: relative;
    width: 50%;
    height: 80%;
    background-color: rgba(43, 203, 235, 0.7);
    padding: 20px;
    top: 10%;
    box-shadow: 0 3px 10px #222222;
    animation: 1s fadeup;
    -webkit-animation: 1s fadeup;
}

@keyframes fadeup {
    from { top: 20%; opacity: 0.1; }
    to { top: 10%; opacity: 1 }
}
@-moz-keyframes fadeup {
    from { top: 30%; opacity: 0.1; }
    to { top: 10%; opacity: 1 }
}

.home-blue-side h1 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: bold;
    /* -webkit-animation: 2s fadeup-text;
    animation: 2s fadeup-text ; */
    /* animation-duration: 3s; */
}

.home-blue-side h5 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: bold;
    /* -webkit-animation: 2s fadeup-text;
    animation: 2s fadeup-text; */
    /* animation-duration: 3s ; */
}

@keyframes fadeup-text {
    from { font-size: 0px; }
    to { }
}
@-moz-keyframes fadeup-text {
    from { font-size: 0px; }
    to { }
}

.opening {
    color: #ececec;
}

.tag {
    color: #00a0c0;
}

.value {
    color: #16681a;
}

.value a {
    text-decoration: none;
    color: #16681a;
}





/* test */



.animation {
    border-radius:50%;
    height:1px; width:1px; /* To allow border-radius to work */
    position:absolute;
    top:60%; left:0;
    margin-top:-1px; margin-left:-1px;
    /* border: 15px solid; */
    box-shadow:
      -75px -125px 0 40px #6cce74,
       75px -125px 0 40px #c18d46,
      150px    0px 0 40px #c14745,
       75px  125px 0 40px #2e1e5b,
      -75px  125px 0 40px #9c37a6,
     -150px    0px 0 40px #76bdd1;
    -webkit-animation:rotate 10s infinite linear;
    animation:rotate 10s infinite linear;
  }
  @keyframes rotate {
    16.67% {
      box-shadow:
        -75px -125px 0 40px #76bdd1,
         75px -125px 0 40px #6cce74,
        150px    0px 0 40px #c18d46,
         75px  125px 0 40px #c14745,
        -75px  125px 0 40px #2e1e5b,
       -150px    0px 0 40px #9c37a6;
    }
    33.33%   { 
      box-shadow:
        -75px -125px 0 40px #9c37a6,
         75px -125px 0 40px #76bdd1,
        150px    0px 0 40px #6cce74,
         75px  125px 0 40px #c18d46,
        -75px  125px 0 40px #c14745,
       -150px    0px 0 40px #2e1e5b;
    }
    50%      { 
      box-shadow:
        -75px -125px 0 40px #2e1e5b,
         75px -125px 0 40px #9c37a6,
        150px    0px 0 40px #76bdd1,
         75px  125px 0 40px #6cce74,
        -75px  125px 0 40px #c18d46,
       -150px    0px 0 40px #c14745;
    }
    66.67%   { 
      box-shadow:
        -75px -125px 0 40px #c14745,
         75px -125px 0 40px #2e1e5b,
        150px    0px 0 40px #9c37a6,
         75px  125px 0 40px #76bdd1,
        -75px  125px 0 40px #6cce74,
       -150px    0px 0 40px #c18d46;
    }
    88.88%   { 
      box-shadow:
        -75px -125px 0 40px #c18d46,
         75px -125px 0 40px #c14745,
        150px    0px 0 40px #2e1e5b,
         75px  125px 0 40px #9c37a6,
        -75px  125px 0 40px #76bdd1,
       -150px    0px 0 40px #6cce74;
    }
    100% {
      transform:rotate(-360deg);
      box-shadow:
        -75px -125px 0 40px #6cce74,
         75px -125px 0 40px #c18d46,
        150px    0px 0 40px #c14745,
         75px  125px 0 40px #2e1e5b,
        -75px  125px 0 40px #9c37a6,
       -150px    0px 0 40px #76bdd1;
    }
  }
  @-webkit-keyframes rotate {
    16.67% {
      box-shadow:
        -75px -125px 0 40px #76bdd1,
         75px -125px 0 40px #6cce74,
        150px    0px 0 40px #c18d46,
         75px  125px 0 40px #c14745,
        -75px  125px 0 40px #2e1e5b,
       -150px    0px 0 40px #9c37a6;
    }
    33.33%   { 
      box-shadow:
        -75px -125px 0 40px #9c37a6,
         75px -125px 0 40px #76bdd1,
        150px    0px 0 40px #6cce74,
         75px  125px 0 40px #c18d46,
        -75px  125px 0 40px #c14745,
       -150px    0px 0 40px #2e1e5b;
    }
    50%      { 
      box-shadow:
        -75px -125px 0 40px #2e1e5b,
         75px -125px 0 40px #9c37a6,
        150px    0px 0 40px #76bdd1,
         75px  125px 0 40px #6cce74,
        -75px  125px 0 40px #c18d46,
       -150px    0px 0 40px #c14745;
    }
    66.67%   { 
      box-shadow:
        -75px -125px 0 40px #c14745,
         75px -125px 0 40px #2e1e5b,
        150px    0px 0 40px #9c37a6,
         75px  125px 0 40px #76bdd1,
        -75px  125px 0 40px #6cce74,
       -150px    0px 0 40px #c18d46;
    }
    88.88%   { 
      box-shadow:
        -75px -125px 0 40px #c18d46,
         75px -125px 0 40px #c14745,
        150px    0px 0 40px #2e1e5b,
         75px  125px 0 40px #9c37a6,
        -75px  125px 0 40px #76bdd1,
       -150px    0px 0 40px #6cce74;
    }
    100% {
      -webkit-transform:rotate(-360deg);
      box-shadow:
        -75px -125px 0 40px #6cce74,
         75px -125px 0 40px #c18d46,
        150px    0px 0 40px #c14745,
         75px  125px 0 40px #2e1e5b,
        -75px  125px 0 40px #9c37a6,
       -150px    0px 0 40px #76bdd1;
    }
  }
  
  



  /* new test */
/* 
.nom {
    color: transparent;
    animation: blur 10s ease-out infinite;
    -webkit-animation: blur 10s ease-out infinite;
}

.nom:nth-child(1) {
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}
.nom:nth-child(2) {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.nom:nth-child(3) {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.nom:nth-child(4) {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.nom:nth-child(5) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.nom:nth-child(6) {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}
.nom:nth-child(7) {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
.nom:nth-child(8) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}



.poste {
    color: transparent;
    animation: blur 10s ease-out ;
    -webkit-animation: blur 10s ease-out ;
}

.poste:nth-child(1) {
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}
.poste:nth-child(2) {
	animation-delay: 0.15s;
	-webkit-animation-delay: 0.15s;
}
.poste:nth-child(3) {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.poste:nth-child(4) {
	animation-delay: 0.25s;
	-webkit-animation-delay: 0.25s;
}
.poste:nth-child(5) {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.poste:nth-child(6) {
	animation-delay: 0.35s;
	-webkit-animation-delay: 0.35s;
}
.poste:nth-child(7) {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.poste:nth-child(8) {
	animation-delay: 0.45s;
	-webkit-animation-delay: 0.45s;
}
.poste:nth-child(9) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.poste:nth-child(10) {
	animation-delay: 0.55s;
	-webkit-animation-delay: 0.55s;
}
.poste:nth-child(11) {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}
.poste:nth-child(12) {
	animation-delay: 0.65s;
	-webkit-animation-delay: 0.65s;
}
.poste:nth-child(13) {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
.poste:nth-child(14) {
	animation-delay: 0.75s;
	-webkit-animation-delay: 0.75s;
}
.poste:nth-child(15) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.poste:nth-child(16) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.poste:nth-child(17) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.poste:nth-child(18) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.poste:nth-child(19) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.poste:nth-child(20) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.poste:nth-child(21) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.poste:nth-child(22) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.poste:nth-child(23) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.poste:nth-child(24) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

@keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	15%		{opacity: 1;}
	20%		{text-shadow:  0 0 0px #fff;}
	80%		{text-shadow:  0 0 0px #fff;}
	85%		{opacity: 1;}
	95%		{text-shadow:  0 0 90px #fff;}
	100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}

@-webkit-keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	15%		{opacity: 1;}
	20%		{text-shadow:  0 0 0px #fff;}
	80%		{text-shadow:  0 0 0px #fff;}
	85%		{opacity: 1;}
	95%		{text-shadow:  0 0 90px #fff;}
	100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}
 */


/* Slider Style */

.slider .content-section {
    padding-top: 0px;
    min-width: 100%;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.slider p a {
    color: #FFF;
}
.slider p a:hover {
    color: #FF0;
    text-decoration: none;
}

.info h1 {
text-shadow: 4px 2px 4px #222;
}

.info p {
    font-size: 22px;
    text-shadow: 4px 2px 4px #222;
    font-weight: bold;
}
