<div class="container-fluid home">

    <div class="home-dark-side">
  
      <!-- code example div -->
      <div class="projects-list">
        
        <div class="row">
          <div class="col-md-4 single-project">
            <img src="../../../assets/images/aquila.png" alt="">
          </div>
          <div class="col-md-4 single-project">
            <img src="../../../assets/images/aquila.png" alt="">
          </div>
          <div class="col-md-4 single-project">
            <img src="../../../assets/images/aquila.png" alt="">
          </div>
          <div class="col-md-4 single-project">
              <img src="../../../assets/images/aquila.png" alt="">
            </div>
            <div class="col-md-4 single-project">
              <img src="../../../assets/images/aquila.png" alt="">
            </div>
            <div class="col-md-4 single-project">
              <img src="../../../assets/images/aquila.png" alt="">
            </div>
            
        </div>

      </div>
  
    </div>
  
    <div class="home-blue-side">
      
    </div>
  
  </div>