<body class="drawer drawer--left">

    <header role="banner">
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
  
      <nav class="drawer-nav" role="navigation">
        <ul class="drawer-menu">
          <li><a class="drawer-brand" href="/">ALSO</a></li>
          <li><a class="drawer-menu-item" href="">Accueil</a></li>
          <li><a class="drawer-menu-item" href="projets">Mes Projets</a></li>
          <li><a class="drawer-menu-item" href="blog">Mon Blog</a></li>
          <li><a class="drawer-menu-item" href="contact">Me contacter</a></li>

          <li class="drawer-dropdown">
            <a class="drawer-menu-item" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
              Sidebar <span class="drawer-caret"></span>
            </a>
            <ul class="drawer-dropdown-menu">
              <li><a class="drawer-dropdown-menu-item" href="./sidebar-left.html">Left</a></li>
              <li><a class="drawer-dropdown-menu-item" href="./sidebar-right.html">Right</a></li>
            </ul>
          </li>
          
        </ul>
      </nav>
  
    </header>
  
    <!-- content -->
   
    
  
  </body>